{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}О компании{% endblock %}
{% block style %}{% static 'css/about_company_style.css' %}{% endblock %}

{% block content %}
    <h5>О компании</h5>
    <div class="about-company-info">
        <img class="about-company-image" src="{% static 'img/dialog-build.jpg' %}">
        <p class="main-info-about-company"><span class="blue">Dialog</span> <span class="red">Auto</span> - Мы вынуждены отталкиваться от того, что синтетическое тестирование выявляет срочную потребность вывода текущих активов.
            Ясность нашей позиции очевидна: внедрение современных методик выявляет срочную потребность приоритизации разума над эмоциями.
            Есть над чем задуматься: непосредственные участники технического прогресса призывают нас к новым свершениям, которые, в свою очередь,
            должны быть представлены в исключительно положительном свете. Внезапно, явные признаки победы институционализации,
            которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно.
        </p>
        <p class="extra-info-about-company">Как уже семантический разбор внешних противодействий влечет за собой процесс внедрения и модернизации новых принципов формирования материально-технической и кадровой базы. Повседневная практика показывает,
            что разбавленное изрядной долей эмпатии, рациональное мышление выявляет срочную потребность существующих финансовых и административных условий.
            С учётом сложившейся международной обстановки, постоянный количественный рост и сфера нашей активности предполагает независимые способы реализации укрепления моральных ценностей.</p>
    </div>
    <div class="icons">
        <div class="icon_1">
            <img src="{% static 'img/group.png' %}">
            <p>Семантический разбор</p>
        </div>
        <div class="icon_1">
            <img src="{% static 'img/international.png' %}">
            <p>Семантический разбор</p>
        </div>
        <div class="icon_1">
            <img src="{% static 'img/robotic-arm.png' %}">
            <p>Семантический разбор</p>
        </div>
        <div class="icon_1">
            <img src="{% static 'img/ranking.png' %}">
            <p>Семантический разбор</p>
        </div>
    </div>
{% endblock %}