{% extends 'main_app/base.html' %}
{% load static %}

{% block style %}{% static 'css/home_page_style.css' %}{% endblock %}

{% block content %}
    <section class="filter" xmlns="http://www.w3.org/1999/html">
        <form method="GET">
            {% csrf_token %}
            <div class="choose-brand-and-model">
                <p>{{ form.brand.label }}</p>
                <p>{{ form.brand }}</p>
                <p>{{ form.model.label }}</p>
                <p>{{ form.model }}</p>
            </div>
            <div class="choose-price-and-mileage">
                <p>Цена, руб.</p>
                <p>{{ form.min_price }}-{{ form.max_price }}</p>
                <p>Пробег, км.</p>
                <p>{{ form.min_mileage }}-{{ form.max_mileage }}</p>
            </div>
            <div class="buttons">
                <p><input type="submit" value="Показать"></p>
                <p><a href="{% url 'home' %}"><img src="{% static 'img/reset.png' %}">Сбросить</a></p>
            </div>
        </form>
    </section>
    <h2>Авто с пробегом</h2>
    <section class="all-entries">
        {% for car in cars %}
            <a href="{% url 'detail' car.pk %}" class="entry">
                <img src="{{ car.main_photo.url }}" align="middle">
                <div class="all-parametrs">
                    <div class="all-characteristics">
                        <h5>{{ car.brand }} {{ car.model }}</h5>
                        <button><img src="{% static 'img/no-favorite.png' %}"></button>
                        <div class="first-characteristics">
                            <p>{{ car.year }} год</p>
                            <p>{{ car.mileage }} км.</p>
                            <p>{{ car.engine }} л.({{ car.power }} л.с.)</p>
                        </div>
                        <div class="second-characteristics">
                            <p>{{ car.body_type }}</p>
                            <p>{{ car.drive_wheel }}</p>
                            <p>{{ car.transmission }}</p>
                        </div>
                        <div class="third-characteristics">
                            <p>{{ car.color }}</p>
                            <p>{{ car.engine_type }}</p>
                            <p>{{ car.steering_wheel }}</p>
                        </div>
                    </div>
                    <p id='price'>{{ car.price }} ₽</p>
                </div>
            </a>
        {% endfor %}
    </section>
    <div class="paginator">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&lt;</a>
        {% endif %}
        {% for p in page.paginator.page_range %}
            {% if p == page.number %}
                {% if request.get_full_path == '/' %}
                    <a style="border: 3px solid blue" href="?page={{ p }}">{{ p }}</a>
                {% else %}
                    <a style="border: 3px solid blue" href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                {% endif %}
            {% elif p|add:'1' == page.number %}
                {% if request.get_full_path == '/' %}
                    <a href="?page={{ p }}">{{ p }}</a>
                {% else %}
                    <a href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                {% endif %}
            {% elif p|add:'-1' == page.number %}
                {% if request.get_full_path == '/' %}
                    <a href="?page={{ p }}">{{ p }}</a>
                {% else %}
                    <a href="{{ request.get_full_path }}&page={{ p }}">{{ p }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">&gt;</a>
        {% endif %}
    </div>
    <script type="text/javascript">
        $('#id_brand').on("change", function () {
            ab = $('#id_brand').val();
            console.log(ab)
            if (ab == 0){
                $('#id_model').val(-1)
            }
            console.log("a =", ab);
            $.ajax(
                {
                    type: 'POST',
                    url: "{% url 'home' %}",
                    data: {
                        brand: ab,
                        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                    },
                    success: function (data) {
                        ipt = ''
                        for (i in data) {
                            console.log(data[i])
                            ipt += ('<option value=' + data[i] + '>' + i + '</option>')
                        }
                        $('#id_model').html('<select>' + ipt + '</select>')

                    }
                }
            )
        })
    </script>
{% endblock %}