{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}Записи на тест-драйв{% endblock %}
{% block style %}{% static 'css/test_drive_requests.css' %}{% endblock %}

{% block content %}
    <h5>Заявки на тест-драйв</h5>
    <div class="main">
    {% for i in all_entry %}
         <div class="entry">
             <div class="text-info">
                 <p>Клиент - {{ i.surname }} {{ i.name }} {{ i.patronymic }}</p>
                 <p>Номер телефона клиента: <a style="text-decoration: none; color: black" href="tel:{{ i.phone_number }}">{{ i.phone_number }}</a></p>
                 <p>Авто: {{ i.brand }} {{ i.model }}</p>
                 <p>Дата: {{ i.data|date:'d.m.Y' }}</p>
                 <p>Время: {{ i.time|time:'H:i' }}</p>
             </div>
             <p id="photo"><img src="{{ i.photo }}"></p>
         </div>
    {% endfor %}
    </div>
{% endblock %}